<%= link_to 'Назад', '/' %>

<h3>
  Это страница авторизации
</h3>

<br/>



  <div>
    <%= 'Имя пользователя' %>
    <%=  %>
  </div>
  <div>
    <%= 'Пароль' %>
    <%=  %>
  </div>


<br/>

<button>
  <%= link_to @login, '/users' %>
</button>